{% extends 'base.html' %}
{% block main %}
{% load static %}

<section class="pagebanner layer-overlay overlay-dark-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-sm-12">
					<div class="invisible" style="height:70px">height</div>
				</div>
				<div class="col-12 col-md-12 col-sm-12 pagebannerh1">
					<h1 class="pagebannerh1h1">Why Buy From Us? <span class="text-blue"></span></h1>
				</div>
			</div>
		</div>
	</section>
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 order-md-1 order-sm-2">
					<div class="abtcontent">
						<p>Quick Used Auto Parts is your one-stop shop for replacement high quality used OEM automotive parts and accessories. Since <b>2015</b>, we have served <i>hundreds of thousands</i> of customers across the world, working hand in hand to find high quality parts for your vehicle.</p>
						<p>We are headquartered in Wilmington, DE, with suppliers across America. Our goal is to find you the correct part at an inexpensive price, close to your home or business. We can help you locate those hard-to-find parts. We ship your order directly to your home, business or to your mechanic, to help you get back on the road as quickly as possible.</p>
						<p>We understand that your car or truck can break down anytime, and that there is no holiday for your disabled vehicle. We staff sales professionals 365 days a year. Our sales department is available to help you place orders from 6 am to 9 pm CST, 7 days a week. Call us <strong><i>Toll Free</i></strong> today, at <a href="tel:(833) 583-2590">(833) 583-2590</a>
						</p>
					</div>
				</div>
				<div class="col-md-5 col-sm-12 order-md-2 order-sm-1">
					<div class="qap-abtbanner">
						<div>
							<span style="color: Black;margin-left: 35px;font-size: 16px;color:darkgreen">Toll Free Number</span>
							<span class="animate__infinite infinite wow flash" style="margin-top:20px;margin-left:20px;width: 250px;">
							<a href="tel:1-833-583-2590" style="color: #fd0014;font-size: 22px;text-decoration: none;">1-833-583-2590</a></span>
						</div>
						<img src="{% static 'images/qap-aboutpic.jpg.jfif' %}" alt="About Us" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bggrey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="reelative"><div class="subtitle">Why choose us?</div></div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="abtliststyle">
						<ul>
							<li>Easily Find Quality Used Parts</li>
							<li>Great Service, backed by A Great Team</li>

						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="abtliststyle">
						<ul>
							<li>Parts Stored Inside Our Facility</li>
							<li>Save Money Buying Used Parts</li>

						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="abtliststyle">
						<ul>
							<!--<li>Great Standard & Extended Warranty</li>-->
							<li>Highest Green Quality Operations</li>
							<li>Serving all for 15+ Years</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}