{% extends 'base.html' %}
{% block main %}
{% load static %}

<div class="container">
    <div class="row" style="margin-top:100px">
        <div class="col-md-12 blogs">
            <div>
                <h3>'Don't Top Off, Bill'</h3>
                <span><small>Author :</small></span><span><b> Car Talk</b></span>
                <br><br>
            </div>
            <div>
                <p>Your column is the first thing I read every week. Late last year, "Bill" wrote in about his 1999 Altima. He was told he needed a new charcoal canister for his fuel system.

                Bill complained that he could not effectively top off his fuel tank. He used the words, "I can never fill it up all the way ... even with multiple squeezes of the nozzle."

                As you know and have preached before, topping off is what kills the evaporative control charcoal canister in the first place.

                You wryly highlighted the health problems he is foisting on his community, but simply replacing the canister will not necessarily solve the root problem of Bill's blind behavior: topping off.

                Could you please tell Bill not to top off? </p>
            </div>
            <div>
                <img src="{% static 'images/rs-3.jpg' %}" alt="" class="img-fluid">
            </div>
            <div>
                <br>
                <p>Don't top off, Bill!<br><br>

Actually, you left out the part of his letter where Bill told us "when I refuel, the gas pump shuts off early."<br><br>

That tells me that he's not "topping off" when the tank is full. He's simply unable to fill up his gas tank.<br><br>

I took his letter to mean that if his tank holds 16 gallons, the pump was shutting off after adding only 8 gallons or 10 gallons.</p>

                <p>So I don't think Bill is a serial topper-offer. I think he had a genuine problem just filling his tank.

And we agreed with his mechanic, that his vapor recovery system was probably at fault, and a new charcoal canister made sense.</p>

                <p>But generally, you are 100% right, Mark. The proper gas station etiquette is to fill the tank until the pump shuts itself off automatically, based on the back pressure coming up the filler neck.</p>
                <p>And then remove the nozzle, take your pack of Twizzlers, and leave the gas station. <br><br>

Excessive topping up is harmful. By excessive, I don't mean when the pump stops at $37.80, and you round up to $38.00. Excessive is when you continue to force more gasoline in, multiple times, after the pump has shut off.</p>

                <p>That can send raw gasoline into the car's vapor recovery system, which can cause hundreds of dollars' worth of damage. As a repair shop owner, I really appreciate when people do that. But you might not when you get your repair bill.

So we don't recommend topping off, Mark. Unless you're at the buffet.</p>
            </div>

        </div>
    </div>
</div>

<section class="testimonialdiv lineargradient3">
		<div class="container">
			<div class="row">
				<div class="col-12 caption custom-mt-50">
					<h5 class="text-white mb-4">What Our Happy Clients say about us</h5>
					<div class="col-md-3 col-sm-4 m-auto"><hr></div>
					<h5 class="text-white mt-4 mb-4">The highest standards. The happiest customers.<br> Rated by store owner</h5>
				</div>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators d-none">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">


						<div class="carousel-item active">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>Very good service, I received excellent quality parts both times. Yes I will recommend your company for sure. I'd rate Quick Auto Parts a 10 out of 10. THANK YOU!!!</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Louis </h5>
									<h5>SALEM, MA</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I would rate Quick Auto Parts a 10, because your people worked diligently to make sure the order was correct, and the part I ordered was delivered on time. </p>
								</div>
								<div class="testimonial-speaks">
									<h5>Peter </h5>
									<h5>DAMASCUS, MD</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I will give Quick Auto Parts a 10 out of 10!! Because you got back to me right away and made sure you had the right part for me!! Yes I would recommend your company to my friends and family.</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Mitchell R</h5>
									<h5>CEDAR PARK, TX</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I'd rate Quick Auto Parts a 10 out of 10. Not only that, I intend use your services again. I was impressed with a particular staff's tendency to do exactly what he said he would and exactly when he said he would do it. I will try to reach him personally again when I call back in the near future.
</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Maria V</h5>
									<h5>CORNERSVILLE, TN</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>Quick Auto Parts is the only company in the USA that was able to get me the exact OEM part for my Mercedes. This company is the only one that actually checked the exact part number for an exact replacement. I went through numerous companies and no one can guarantee the part number except Quick Auto Parts. Im completely satisfied with the customer service, the part being the exact fit and the delivery time. I will purchase from them again if needed in the future.</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Pacita K</h5>
									<h5>LAKEWOOD, WA</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I have to give you a 10 out of 10. You really have professional people working for you. Your people strive to excel providing excellent service. For me this is wonderful because you are dealing with people that make you feel good. Yes, I will recommend your company to my families and friends; it is very difficult to find a company like yours these days. Good luck to you, to your employees and company. </p>
								</div>
								<div class="testimonial-speaks">
									<h5>Osvaldo</h5>
									<h5>MIAMI, FL</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I would recommend your company to people I know who are in need of auto electrical computers. I was pleased with your service although I was a bit unsure for the first several days whether or not you actually had the part I needed. As it turned out, you did locate the part and sent it to me. Thanks for your service. </p>
								</div>
								<div class="testimonial-speaks">
									<h5>Terry</h5>
									<h5>MT ULLA, NC</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I was impressed; my mechanic couldn't get the part. But here with Quick Auto Parts it was ease to order and receive the product. I have bookmarked your site for my mechanic. Definitely I will rate you 10. Thank you!!</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Claretta </h5>
									<h5>PHILADELPHIA, PA</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>I would give a score of 10. I had a very helpful and pleasant experience with the person that helped me with getting the right car part and I would send new customers. Thank you for excellent service.</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Shirley</h5>
									<h5>ALBUQUERQUE, NM</h5>
								</div>
							</div>
						</div>

						<div class="carousel-item ">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="testimonial-content">
									<p>After talking to your staff I realized that his business communication capabilities were superb as well as the skills in the first man. And you had the data base and information down to a single bolt. So good it was hard to believe but I know now it was true. So I would recommend your company as the company to contact as it provides the very best service.
</p>
								</div>
								<div class="testimonial-speaks">
									<h5>Stephen S</h5>
									<h5>SPRINGFIELD, OR</h5>
								</div>
							</div>
						</div>


					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>
		</div>
	</section>

<section class="partnersdiv">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
				   <div class="regular slider">
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/acura.jpg.jfif' %}" alt="ACURA">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/alfa-romeo.png' %}" alt="ALFA-ROMEO">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/AMC.jpg.jfif' %}" alt="AMC">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/audi.png' %}" alt="AUDI">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/BMW.png' %}" alt="BMW">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/British-Leyland.png' %}" alt="BRITISH-LEYLAND">
							</div>
						</div>
						<div>
							<div class="item">
								<img src="{% static 'images/partnerslogos/Cooper.png' %}" alt="COOPER">
							</div>
						</div>
				   </div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}