{% extends 'base.html' %}
{% block main %}
{% load static %}

<section style="margin-top:100px">
    <div class="container-lg" style="margin-left:100px">
        <div>
            <p>You have selected a <b style="color:red;font-size:30px;">{{year}}</b> <b style="color:blue;font-size:30px;">{{make}}</b> <b style="color:blue;font-size:30px;">{{model}}</b>
			<b style="color:green;font-size:30px;">{{part}}</b> <br> Complete the fields to get an Instant Quote</p>
        </div>
    </div>
</section>

<section>
    <div class="container-lg">
        <div class="row">

            <div class="col-md-6">
                <div>
                    <form class="form-custom" action="/thanks-page" enctype="multipart/form-data" method="POST">
							{% csrf_token %}
							<div class="blk">
								<div class="form-group row">
									<img src="{% static 'images/arrow.png' %}" class="arrowrequired d-block qap_make" alt="Arrow for Required">
									<label for="qap_make" class="col-2 col-form-label">Name <span class="text-danger">*</span></label>
									<div class="col-10">
                                        <input type="text" name="name" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<img src="{% static 'images/arrow.png' %}" class="arrowrequired d-none qap_model" alt="Arrow for Required">
									<label for="qap_model" class="col-2 col-form-label">Phone <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="text" name="phone" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<img src="{% static 'images/arrow.png' %}" class="arrowrequired d-none qap_part" alt="Arrow for Required">
									<label for="qap_part" class="col-2 col-form-label">E-Mail <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="text" name="email" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<img src="{% static 'images/arrow.png' %}" class="arrowrequired d-none qap_year" alt="Arrow for Required">
									<label for="qap_year" class="col-2 col-form-label">Zip <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="text" name="zip" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<button class="button btn-secondary" style="width: 272px;margin-left: 225px">Submit</button>
							</div>
						</form>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}