{% extends 'base.html' %}
{% block main %}
{% load static %}

<section style="background-image: url(static/images/home-banner-3.jpg);background-size:cover;background-attachment:fixed;">
	<div style="background-color:black;opacity:85%;padding-top:100px;padding-bottom:100px">

	<div class="container" style="margin-top:50px">
        <div>
            <p style="color:white">You have selected a <b style="color:#aeaf73;font-size:22px;">{{year}}</b> <b style="color:#d6d6d6;font-size:22px;">{{make}}</b> <b style="color:blue;font-size:22px;">{{model}}</b>
			<b style="color:#96c796;font-size:22px;">{{part}}</b> <br><br>

				<i>Please complete the fields to get an Instant Quote</i></p><br>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <div style="color:white">
                    <form class="form-custom" action="/thanks-page" enctype="multipart/form-data" method="POST">
							{% csrf_token %}
							<div class="blk">
								<div class="form-group row">
									<label for="qap_make" class="col-2 col-form-label">Name <span class="text-danger">*</span></label>
									<div class="col-10">
                                        <input type="text" name="name" class="form-control" required style="background: black;color: white;border: 1px solid darkslategrey;border-radius: 6px;">
									</div>
								</div>
								<div class="form-group row">

									<label for="qap_model" class="col-2 col-form-label">Phone <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="number" name="phone" class="form-control" required style="background: black;color: white;border: 1px solid darkslategrey;border-radius: 6px;">
									</div>
								</div>
								<div class="form-group row">

									<label for="qap_part" class="col-2 col-form-label">E-Mail <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="email" name="email" class="form-control" required style="background: black;color: white;border: 1px solid darkslategrey;border-radius: 6px;">
									</div>
								</div>
								<div class="form-group row">

									<label for="qap_year" class="col-2 col-form-label">Zip <span class="text-danger">*</span></label>
									<div class="col-10">
										<input type="number" name="zip" class="form-control" required style="background: black;color: white;border: 1px solid darkslategrey;border-radius: 6px;">
										<input type="hidden" name="year" value="{{year}}">
										<input type="hidden" name="make" value="{{make}}">
										<input type="hidden" name="part" value="{{part}}">
										<br>
										<input type="submit" class="btn btn-secondary" name="" id="" value="Submit">

									</div>

								</div>
							</div>

						</form>
                </div>
            </div>


        </div>
    </div>





	</div>
</section>

{% endblock %}